<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>

    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">


    <style>
        table {
            width: 100%;
        }

        th {
            text-align: left;
        }
    </style>
</head>

<body class="bg-blue-100">
    <div class="m-8">
        <h1 class="text-4xl mb-8">Listagem de itens
        </h1>
        <h2 class="text-2xl mb-8"> Cliente: <%=nome%>
        </h2>
        <h2 class="text-1xl mb-8"> Bag possuí: <%=produtos.length%> produtos
        </h2>
        <table class="border-separate">
            <thead>
                <tr>
                    <th>ID do Produto</th>
                    <th>Valor</th>
                    <th>Gênero</th>
                    <th>Tipo</th>
                    <th>Cor</th>
                    <th>Faixa etária</th>
                    <th>Estação do ano</th>
                    <th>Necessidade</th>
                    <th>Tipo da estampa</th>
                    <th>Tipo de estilo</th>
                    <th>Tipo do tênis</th>
                    <th>Tamanho da camisa</th>
                    <th>Tamanho do sapato</th>
                    <th>Tamanho da calça</th>
                </tr>
            </thead>
            <tbody>
                <% if (produtos.length> 0) { %>
                    <% produtos.forEach(produto=> { %>
                        <tr>
                            <td>
                                <%= produto.id %>
                            </td>
                            <td>
                                <%= produto.valor %>
                            </td>
                            <td>
                                <%= produto.genero %>
                            </td>
                            <td>
                                <%= produto.tipo %>
                            </td>
                            <td>
                                <%= produto.cor %>
                            </td>
                            <td>
                                <%= produto.fx_etaria %>
                            </td>
                            <td>
                                <%= produto.estacao_ano %>
                            </td>
                            <td>
                                <%= produto.necessidade %>
                            </td>
                            <td>
                                <%= produto.tipo_estampa %>
                            </td>
                            <td>
                                <%= produto.tipo_estilo %>
                            </td>
                            <td>
                                <%= produto.tipo_tenis %>
                            </td>
                            <td>
                                <%= produto.tamanho_camisa %>
                            </td>
                            <td>
                                <%= produto.tamanho_sapato %>
                            </td>
                            <td>
                                <%= produto.tamanho_calca %>
                            </td>
                        </tr>
                        <% }); %>
                            <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>